
.DS_Store

samples/style.css

samples/gosset-4-21.json

samples/k4-brownTriangleCookies.json

samples/paneled-k4-better.json

samples/K4-inRed.json

samples/K4-blocks.json

samples/cubicSurfaceLines-24-rZome.json

samples/120cell-RoiceNelson-perspective.json

samples/viewModels.pl

samples/index.pl

samples/sms.html

samples/viewModel.html

.idea/
